*{
    font-family: cursive;
}
h1{
    font-family: "Jost", sans-serif;
    font-weight: 900;
    font-size: 80PX;
}
h2{
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 30PX;
}
h3{
    font-family: "Jost", sans-serif;
    font-weight: 900;
    font-size: 24PX;
    padding: 0px;
}
p{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 0px;
}
a{
    font-family: "Jost", sans-serif;
    font-weight: 900;
    font-size: 20PX;
    padding: 0px;
}

body {
    margin: 0;

}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}


header {
    background: black;
    color: #fff;
    position: fixed;
    width: 100%;
    padding: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.banner {
    background: url(https://i.pinimg.com/originals/29/05/60/29056090ce2905dd955371e1e0478259.jpg) no-repeat center center/cover;
    padding: 15rem 0;
}
.buttonhome {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
.buttonhome img{
    width: 80px;
    border-radius: 50%;
}
.introduccion{
    padding: 40px;
    background-color: beige;
    font-size: larger;
}
.opinon{
    background-color: rgb(235, 235, 235);
}
.opinon h2{
    text-align: center;
    padding:20px;
}
.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.person img {
    width: 200px;
    height: 200px;
    border-radius: 50%;  
    margin-bottom: 15px;
}

.person h3 {
    margin-top: 0;
    text-align: center;
}

.travel {
    padding: 50px 0;
    text-align: center;
}

.travel-card {
    width: 40%;
    position: relative;
    background: #fff;
    margin-bottom: 30px;
}

.travel-card img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.person span{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 100ch;
    animation: typing 8s steps(90) infinite alternate,
    blink .8s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing {
    from {width: 0;}
    to{width: 100%;}
    
}@keyframes blink{
50%{
    border-color: transparent;
}
}


.texto{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    color: white;
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}
.texto:hover{
    opacity: 1;
}

footer {
    background: #000000;
    color: #fff;
    padding:15px;
    text-align: center;
}
h2 a{
    text-decoration: none;
    color: blue;
}